

<form [formGroup]="formGroupManagement">
    <div class="c-container">
      <h2 class="c-container__title">Creación/Edición de Productos</h2>
    <p>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" />
    </p>
    <p>
    <label for="price">Precio</label>
    <input type="number" id="price"  formControlName="price" />
    </p>
    <p>
    <label for="description">Descripción</label>
    <input type="text" id="description" formControlName="description" />
    </p>
    <p>
    <label for="image">Imagen</label>
    <input type="text" id="image" formControlName="image" />
    </p>
    <button (click)="addProduct()">Guardar</button>
  </div>
  </form>
  
