

#footer {

    position: absolute;
    margin-top: 800px;
    width: 100%;
    height: 200px;
    background-color:  #333333;  

}

#footer h5 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

#media ul {
    display: flex;
    justify-content: center;

}

#media ul li {

    display: inline-flex;
    justify-content: center;
    font-size: 10px;
    margin: 0px 10px 0px 10px;
    line-height: 20px;
}

#media ul li a {
    
    font-size: 15px;
    color: whitesmoke;
    text-decoration: none;
    border: 0px 10px 0px 10px;
}

#media > ul > li > a:first-child{

  
    border-right: 1px solid rgb(167, 166, 166);
    padding-right: 15px;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    color:whitesmoke;
    font-size: 13px;

}