#footer {
  position: absolute;
  margin-top: 1200px;
  width: 100%;
  height: 200px;
  background-color: #333333;
}

#footer h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  color: whitesmoke;
  text-decoration: none;
}

#media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#media ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  margin: 0px 10px 0px 10px;
  line-height: 20px;
}

#media ul li a {
  font-size: 15px;
  color: whitesmoke;
  text-decoration: none;
  border: 0px 10px 0px 10px;
}

#media > ul > li > a:first-child {
  border-right: 1px solid #a7a6a6;
  padding-right: 15px;
}

.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  color: whitesmoke;
  font-size: 13px;
}
/*# sourceMappingURL=footer.component.css.map */