


.c-menu {
    margin: 0px;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #FFC970;

    &__link {
        color :black;
        font-size: 15px;
        text-decoration: none;
        margin: 0 24px;
        text-align: center;

    }
}

