.c-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFC970;
}

.c-menu__link {
  color: black;
  font-size: 15px;
  text-decoration: none;
  margin: 0 24px;
  text-align: center;
}
/*# sourceMappingURL=header.component.css.map */