body {
  min-height: 1200px;
  width: 100%;
}

.c-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  height: 800px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.c-gallery__image {
  max-width: 100%;
  height: 300px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 70px;
  border-radius: 4px;
}

.c-gallery__name {
  font-size: 20px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-gallery__price {
  font-family: Inter;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  color: lightgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-gallery__description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.0275em;
  color: #19191D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=products-page.component.css.map */