.main-section {
  position: absolute;
  width: 70%;
  height: 600px;
  left: 360px;
  right: 200px;
  top: 252px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
/*# sourceMappingURL=welcome-page.component.css.map */