

.c-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
  
  &__figure {
    margin: 16px 0;
    text-align: center;
    cursor: pointer;
  }

  &__img {
    max-width: 100%;
    height: 300px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 90px;
    border-radius: 4px;
    cursor: pointer;
  }
  &__name {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  &__price {
    font-family: Inter;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: lightgreen;
    display: flex;
    justify-content: center;
  }
  &__description {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.0275em;
    color: #19191d;
    display: flex;
    justify-content: center;
  }
}
