<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="c-gallery">
      <div
        *ngFor="let product of products; let i = index"
        class="col-12 col-md-3"
      >
        <div class="row">
          <figure
            class="c-gallery__figure"
            routerLink="/products{{ product.id }}"
          >
            <img class="c-gallery__img" src="{{ product.image }}" alt="" />
            <p class="c-gallery__name">{{ product.name }}</p>
            <p class="c-gallery__price">{{ product.price }}</p>
            <p class="c-gallery__description">{{ product.description }}</p>
          </figure>
        </div>
      </div>
    </div>
  </body>
</html>
