/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap-grid";
body {
    margin: 0px;
    padding: 0px;
    min-height: 900px;
    width: 100%;
  }