<form [formGroup]="formSearchProduct">
  <div class="c-container">
    <title class="c-container__title">Buscador</title>
    <label for="name"></label>
    <input id="name" type="text" placeholder="Buscador" formControlName="name" />
    <button (click)="filter()">Filtrar</button>
  </div>
  </form>
