.c-container {
    padding: 20px;
    padding-top: 20px;

    &__title {
        display: flex;
        border-bottom: 1px solid #ccc;
        padding-bottom: 1px;
        margin-bottom: 10px;
    }

}

form {
    width: 20%;
}

form label {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

form input {

    width: 80%;
    padding: 5px;
}

form button {

display: inline-flex;
font-size: 12px;
padding: 6px;
margin-left: 8px;
background-color: #FFC970;
border: 1px solid #ccc;
cursor: pointer;
color: black;
border-radius: 10px;

}

